/* Reset Chroma defaults */
.chroma,
.chroma *,
.chroma:is(.dark *),
.chroma:is(.dark *) * {
  color: unset;
  font-weight: unset;
  font-style: unset;
}

/* Light mode: VS */
html:not(.dark) {
  /* paste VS block here */
  /* Background */
.chroma {
  background-color: #ffffff;
}

/* Error */
.chroma .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: #ffffcc;
}

/* LineNumbers */
.chroma .ln {
  color: #2b91af;
}

/* Keyword */
.chroma .k {
  color: #0000ff;
}

/* KeywordConstant */
.chroma .kc {
  color: #0000ff;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #0000ff;
}

/* KeywordNamespace */
.chroma .kn {
  color: #0000ff;
}

/* KeywordPseudo */
.chroma .kp {
  color: #0000ff;
}

/* KeywordReserved */
.chroma .kr {
  color: #0000ff;
}

/* KeywordType */
.chroma .kt {
  color: #2b91af;
}

/* Name */
.chroma .n {
  color: #000000;
}

/* NameAttribute */
.chroma .na {
  color: #000000;
}

/* NameBuiltin */
.chroma .nb {
  color: #000000;
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: #000000;
}

/* NameClass */
.chroma .nc {
  color: #2b91af;
}

/* NameConstant */
.chroma .no {
  color: #2b91af;
}

/* NameDecorator */
.chroma .nd {
  color: #2b91af;
}

/* NameEntity */
.chroma .ni {
  color: #2b91af;
}

/* NameException */
.chroma .ne {
  color: #2b91af;
}

/* NameFunction */
.chroma .nf {
  color: #74531f;
}

/* NameLabel */
.chroma .nl {
  color: #2b91af;
}

/* NameNamespace */
.chroma .nn {
  color: #000000;
}

/* NameOther */
.chroma .nx {
  color: #000000;
}

/* NameProperty */
.chroma .py {
  color: #000000;
}

/* NameTag */
.chroma .nt {
  color: #800000;
}

/* NameVariable */
.chroma .nv {
  color: #000000;
}

/* NameVariableClass */
.chroma .vc {
  color: #000000;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #000000;
}

/* NameVariableInstance */
.chroma .vi {
  color: #000000;
}

/* Literal */
.chroma .l {
  color: #000000;
}

/* LiteralDate */
.chroma .ld {
  color: #000000;
}

/* LiteralString */
.chroma .s {
  color: #a31515;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #a31515;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #a31515;
}

/* LiteralStringChar */
.chroma .sc {
  color: #a31515;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #a31515;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #a31515;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #a31515;
}

/* LiteralStringEscape */
.chroma .se {
  color: #a31515;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #a31515;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #a31515;
}

/* LiteralStringOther */
.chroma .sx {
  color: #a31515;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #a31515;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #a31515;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #a31515;
}

/* LiteralNumber */
.chroma .m {
  color: #098658;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #098658;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #098658;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #098658;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #098658;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #098658;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #098658;
}

/* Operator */
.chroma .o {
  color: #000000;
}

/* OperatorWord */
.chroma .ow {
  color: #0000ff;
}

/* Comment */
.chroma .c {
  color: #008000;
}

/* CommentHashbang */
.chroma .ch {
  color: #008000;
}

/* CommentMultiline */
.chroma .cm {
  color: #008000;
}

/* CommentSingle */
.chroma .c1 {
  color: #008000;
}

/* CommentSpecial */
.chroma .cs {
  color: #008000;
}

/* Generic */
.chroma .g {
  color: #000000;
}

/* GenericDeleted */
.chroma .gd {
  color: #a61717;
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
.chroma .gr {
  color: #a61717;
}

/* GenericHeading */
.chroma .gh {
  color: #000080;
}

/* GenericInserted */
.chroma .gi {
  color: #008000;
}

/* GenericOutput */
.chroma .go {
  color: #000000;
}

/* GenericPrompt */
.chroma .gp {
  color: #000000;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: #800080;
}

/* GenericTraceback */
.chroma .gt {
  color: #a61717;
}

}

/* Dark mode: GitHub Dark */
html.dark {
  /* paste github-dark block here */
  /* Background */
.chroma {
  background-color: #0d1117;
}

/* Error */
.chroma .err {
  color: #f85149;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: #161b22;
}

/* LineNumbers */
.chroma .ln {
  color: #8b949e;
}

/* Keyword */
.chroma .k {
  color: #ff7b72;
}

/* KeywordConstant */
.chroma .kc {
  color: #ff7b72;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #ff7b72;
}

/* KeywordNamespace */
.chroma .kn {
  color: #ff7b72;
}

/* KeywordPseudo */
.chroma .kp {
  color: #ff7b72;
}

/* KeywordReserved */
.chroma .kr {
  color: #ff7b72;
}

/* KeywordType */
.chroma .kt {
  color: #79c0ff;
}

/* Name */
.chroma .n {
  color: #c9d1d9;
}

/* NameAttribute */
.chroma .na {
  color: #79c0ff;
}

/* NameBuiltin */
.chroma .nb {
  color: #c9d1d9;
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: #c9d1d9;
}

/* NameClass */
.chroma .nc {
  color: #d2a8ff;
}

/* NameConstant */
.chroma .no {
  color: #79c0ff;
}

/* NameDecorator */
.chroma .nd {
  color: #d2a8ff;
}

/* NameEntity */
.chroma .ni {
  color: #79c0ff;
}

/* NameException */
.chroma .ne {
  color: #d2a8ff;
}

/* NameFunction */
.chroma .nf {
  color: #d2a8ff;
}

/* NameLabel */
.chroma .nl {
  color: #79c0ff;
}

/* NameNamespace */
.chroma .nn {
  color: #c9d1d9;
}

/* NameOther */
.chroma .nx {
  color: #c9d1d9;
}

/* NameProperty */
.chroma .py {
  color: #c9d1d9;
}

/* NameTag */
.chroma .nt {
  color: #7ee787;
}

/* NameVariable */
.chroma .nv {
  color: #c9d1d9;
}

/* NameVariableClass */
.chroma .vc {
  color: #c9d1d9;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #c9d1d9;
}

/* NameVariableInstance */
.chroma .vi {
  color: #c9d1d9;
}

/* Literal */
.chroma .l {
  color: #79c0ff;
}

/* LiteralDate */
.chroma .ld {
  color: #79c0ff;
}

/* LiteralString */
.chroma .s {
  color: #a5d6ff;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #a5d6ff;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #a5d6ff;
}

/* LiteralStringChar */
.chroma .sc {
  color: #a5d6ff;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #a5d6ff;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #8b949e;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #a5d6ff;
}

/* LiteralStringEscape */
.chroma .se {
  color: #a5d6ff;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #8b949e;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #a5d6ff;
}

/* LiteralStringOther */
.chroma .sx {
  color: #a5d6ff;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #7ee787;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #a5d6ff;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #79c0ff;
}

/* LiteralNumber */
.chroma .m {
  color: #79c0ff;
}

/* Operator */
.chroma .o {
  color: #ff7b72;
}

/* OperatorWord */
.chroma .ow {
  color: #ff7b72;
}

/* Comment */
.chroma .c {
  color: #8b949e;
}

/* CommentMultiline */
.chroma .cm {
  color: #8b949e;
}

/* CommentSingle */
.chroma .c1 {
  color: #8b949e;
}

/* CommentSpecial */
.chroma .cs {
  color: #8b949e;
}

/* Generic */
.chroma .g {
  color: #c9d1d9;
}

/* GenericDeleted */
.chroma .gd {
  color: #ffa198;
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
.chroma .gr {
  color: #f85149;
}

/* GenericHeading */
.chroma .gh {
  color: #79c0ff;
}

/* GenericInserted */
.chroma .gi {
  color: #7ee787;
}

/* GenericOutput */
.chroma .go {
  color: #8b949e;
}

/* GenericPrompt */
.chroma .gp {
  color: #c9d1d9;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: #d2a8ff;
}

/* GenericTraceback */
.chroma .gt {
  color: #f85149;
}

}
